<template>
  <v-form>
    <v-card class="block" style="background-color: #E1E1E1" elevation="5">
      Kontaktní údaje
    </v-card>
    <v-card-text>
      <v-text-field v-model="name" label="Jméno"></v-text-field>
      <v-text-field v-model="surname" label="Přijmení"></v-text-field>
      <v-text-field v-model="email" label="E-mail"></v-text-field>
      <v-text-field v-model="phone" label="Telefon"></v-text-field>
    </v-card-text>

    <v-card class="block" style="background-color: #E1E1E1" elevation="5">
      Fakturační Adresa
    </v-card>
    <v-card-text>
      <v-text-field v-model="street" label="Ulice"></v-text-field>
      <v-text-field v-model="houseNumber" label="Číslo popisné"></v-text-field>
      <v-text-field v-model="city" label="Město"></v-text-field>
      <v-text-field v-model="postCode" label="PSČ"></v-text-field>
    </v-card-text>
    <v-card class="block" style="background-color: #E1E1E1" elevation="5">
      Dodací Adresa
    </v-card>
    <v-card-text>
      <v-text-field v-model="transportStreet" label="Ulice"></v-text-field>
      <v-text-field
        v-model="transportHouseNumber"
        label="Číslo popisné"
      ></v-text-field>
      <v-text-field v-model="transportCity" label="Město"></v-text-field>
      <v-text-field v-model="transportPostCode" label="PSČ"></v-text-field>
    </v-card-text>
    <v-row>
      <v-col cols="4" offset="4">
        <v-select
          placeholder="Typ dopravy"
          :items="transportOptions"
          v-model="transport"
          item-text="value"
          item-value="key"
        />
      </v-col>
      <v-col cols="4">
        <v-select
          placeholder="Typ platby"
          :items="paymentOptions"
          v-model="payment"
          item-text="value"
          item-value="key"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="11">
        <v-row justify="end">
          <v-btn color="primary" @click="submit">Objednat</v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
export default {
  name: "OrderForm",
  props: ["items"],
  data: () => ({
    paymentOptions: [
      { key: "ONLINE", value: "Online" },
      { key: "PREVODEM", value: "Převodem" }
    ],
    transportOptions: [
      { key: "PPL", value: "PPL" },
      { key: "CESKA POSTA", value: "Česká pošta" },
      { key: "OSOBNI PREVZETI", value: "Osobní převzetí" }
    ],
    payment: "",
    transport: "",
    name: "",
    surname: "",
    email: "",
    phone: "",
    city: "",
    street: "",
    houseNumber: "",
    postCode: "",
    transportCity: "",
    transportStreet: "",
    transportHouseNumber: "",
    transportPostCode: ""
  }),
  created() {
    this.unsubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === "setUserInfo") {
        if (state.user.userInfo) {
          const user = state.user.userInfo.user;
          if (user) {
            this.name = user.name;
            this.surname = user.surname;
            this.email = user.email;
            this.phone = user.phone;
            if (user.address) {
              this.city = user.address.city;
              this.street = user.address.street;
              this.houseNumber = user.address.houseNumber;
              this.postCode = user.address.postCode;
            }
          }
        }
      }
    });
  },
  beforeDestroy() {
    this.unsubscribe();
  },
  methods: {
    submit() {
      this.$store
        .dispatch("createOrder", {
          user: {
            name: this.name,
            surname: this.surname,
            email: this.email,
            phone: this.phone,
            address: {
              city: this.city,
              street: this.street,
              houseNumber: this.houseNumber,
              postCode: this.postCode
            }
          },
          transportAddress: {
            city: this.transportCity,
            street: this.transportStreet,
            houseNumber: this.transportHouseNumber,
            postCode: this.transportPostCode
          },
          payment: { paymentType: this.payment },
          transport: { transportType: this.transport },
          items: this.items
        })
        .then(() => {
          this.$router.replace({ path: "/vysledek" });
        });
    }
  }
};
</script>

<style scoped></style>
