<template>
  <v-form>
    <v-card class="block" style="background-color: #E1E1E1" elevation="5">
      Zboží
    </v-card>
    <v-card-text>
      <v-text-field v-model="merch.name" label="Název" />
      <v-text-field v-model="merch.price" label="Cena" />
      <v-textarea v-model="merch.description" label="Popis" auto-grow />
      <v-textarea
        v-model="merch.shortDescription"
        label="Krátký popis"
        auto-grow
      />
      <v-select
        v-model="categories"
        :items="items"
        item-text="name"
        item-value="id"
        chips
        label="Categorie"
        multiple
      ></v-select>
      <v-list>
        <v-list-item v-for="(photo, i) in merch.photos" :key="i">
          <v-list-item-title>
            <v-row justify="center" align="center">
              <v-col cols="9" offset="1">
                <div v-if="photo">
                  <v-img
                    aspect-ratio="1"
                    contain
                    :src="'data:image/png;base64,' + photo.photo"
                    alt="merchandise"
                  />
                </div>
              </v-col>
              <v-col cols="2">
                <v-icon size="large" @click="removePhoto(photo)">
                  mdi-delete
                </v-icon>
              </v-col>
            </v-row>
          </v-list-item-title>
        </v-list-item>
      </v-list>
      <v-file-input
        accept="image/*"
        multiple
        label="File input"
        show-size
        counter
        chips
        @change="saveImages"
        v-model="files"
      ></v-file-input>
    </v-card-text>
  </v-form>
</template>

<script>
import { map, path } from "ramda";

export default {
  name: "MerchForm",
  data: () => ({
    files: [],
    items: [
      {
        id: 0,
        name: "NOTEBOOK",
        description:
          "Hledáte spolehlivého pracovníka do kanceláře, na cesty, nebo ne herní využití. Z našeho sortimentu si vybere každý podle své potřeby."
      },
      {
        id: 1,
        name: "TV",
        description:
          "Zvažujete SMART TV s chytrými funkcemi, nebo bez nich? Vybírejte podle velikosti a rozlišení, obnovovací frekvenci panelu, tuner pro pozemní, kabelové či satelitní vysílání."
      },
      {
        id: 2,
        name: "COMPUTER",
        description:
          "Náš sortiment nabízí všechny druhy počítačových sestav. Výkonné herní sestavy, pracovní stanice, či kompaktní All in one modely."
      },
      {
        id: 3,
        name: "PHONE",
        description:
          "Mobilní telefon používáme každý den a jsou pro neocenitelnými pomocníky i zdrojem zábavy. Je libo tlačítkový telefon, nebo elegantní smartphone s designem, který každého zaujme."
      },
      {
        id: 4,
        name: "TABLET",
        description:
          "Chytrý, rychlý a spolehlivý pomocník s dostatečným výkonem jak pro práci, tak pro sledování sociálních sítí a multimédií."
      },
      {
        id: 5,
        name: "GAME_CONSOLE",
        description:
          "Herní konzole přináší nejlepší herní zážitek pro náročné ale i občasné hráče. Vsadit můžete nejenom na výkonné konzole, ale také i na podporu 4K rozlišení a také přenosné konzole do ruky."
      },
      {
        id: 6,
        name: "MONITOR",
        description:
          "Monitor je nedílnou součástí každé PC sestavy. Vyberte si podle svého vkusu, zejména v kvalitě a vlastnostech obrazu."
      },
      {
        id: 7,
        name: "AUDIO",
        description:
          "Pro poslech kvalitní hudby už nemusíte nutně hledat kabely a hledat zásuvku pro zapojení vašeho reproduktoru. Kabelové, či bluetooth zařízení s podporou 3,5 mm Jack."
      },
      {
        id: 8,
        name: "WIFI",
        description:
          "K vytvoření domácí sítě a jejímu připojení k internetu vám poslouží naše wifi síťové prvky. Novější zařízení nabízejí kombinaci 2,4 GHz a 5 GHz (Dual - band)."
      },
      {
        id: 9,
        name: "MOUSE",
        description:
          "Důležitý pracovník při používání počítače. Usandní práci a je nezbytná ke hraní her."
      },
      {
        id: 10,
        name: "HEADPHONE",
        description:
          "K počítači nebo notebooku se hodí kvalitní poslech hudby nebo hovorů pomocí sluchátek. Některé modely také disponují mikrofonem."
      },
      {
        id: 11,
        name: "KEYBOARD",
        description:
          "Kancelářské modely, herní, mechanické nebo kupřikladu kompaktní. Kvalitní kávesnice může mít zásadní vliv na vaši produktivitu, nebo dovedností ve hrách."
      },
      {
        id: 12,
        name: "PODLOZKA",
        description: "Stylový doplněk pod myš, pro hladké přejíždění myší."
      },
      {
        id: 13,
        name: "GAMEPAD",
        description:
          "Rozšiřující doplněk pro váš notebook, či další gamepad pro vaši konzoli."
      },
      {
        id: 14,
        name: "EXTERNAL_DISK",
        description:
          "Přenosné, kompaktní, odeolné externí disky. Pro rychlé načítání a spolehlivost novější SDD a také klasické HDD pro rozšíření místa několik TB."
      },
      {
        id: 20,
        name: "NOTEBOOK",
        description:
          "Hledáte spolehlivého pracovníka do kanceláře, na cesty, nebo ne herní využití. Z našeho sortimentu si vybere každý podle své potřeby."
      },
      {
        id: 21,
        name: "TV",
        description:
          "Zvažujete SMART TV s chytrými funkcemi, nebo bez nich? Vybírejte podle velikosti a rozlišení, obnovovací frekvenci panelu, tuner pro pozemní, kabelové či satelitní vysílání."
      },
      {
        id: 22,
        name: "COMPUTER",
        description:
          "Náš sortiment nabízí všechny druhy počítačových sestav. Výkonné herní sestavy, pracovní stanice, či kompaktní All in one modely."
      },
      {
        id: 23,
        name: "PHONE",
        description:
          "Mobilní telefon používáme každý den a jsou pro neocenitelnými pomocníky i zdrojem zábavy. Je libo tlačítkový telefon, nebo elegantní smartphone s designem, který každého zaujme."
      },
      {
        id: 24,
        name: "TABLET",
        description:
          "Chytrý, rychlý a spolehlivý pomocník s dostatečným výkonem jak pro práci, tak pro sledování sociálních sítí a multimédií."
      },
      {
        id: 25,
        name: "GAME_CONSOLE",
        description:
          "Herní konzole přináší nejlepší herní zážitek pro náročné ale i občasné hráče. Vsadit můžete nejenom na výkonné konzole, ale také i na podporu 4K rozlišení a také přenosné konzole do ruky."
      },
      {
        id: 26,
        name: "MONITOR",
        description:
          "Monitor je nedílnou součástí každé PC sestavy. Vyberte si podle svého vkusu, zejména v kvalitě a vlastnostech obrazu."
      },
      {
        id: 27,
        name: "AUDIO",
        description:
          "Pro poslech kvalitní hudby už nemusíte nutně hledat kabely a hledat zásuvku pro zapojení vašeho reproduktoru. Kabelové, či bluetooth zařízení s podporou 3,5 mm Jack."
      },
      {
        id: 28,
        name: "WIFI",
        description:
          "K vytvoření domácí sítě a jejímu připojení k internetu vám poslouží naše wifi síťové prvky. Novější zařízení nabízejí kombinaci 2,4 GHz a 5 GHz (Dual - band)."
      },
      {
        id: 29,
        name: "MOUSE",
        description:
          "Důležitý pracovník při používání počítače. Usandní práci a je nezbytná ke hraní her."
      },
      {
        id: 30,
        name: "HEADPHONE",
        description:
          "K počítači nebo notebooku se hodí kvalitní poslech hudby nebo hovorů pomocí sluchátek. Některé modely také disponují mikrofonem."
      },
      {
        id: 31,
        name: "KEYBOARD",
        description:
          "Kancelářské modely, herní, mechanické nebo kupřikladu kompaktní. Kvalitní kávesnice může mít zásadní vliv na vaši produktivitu, nebo dovedností ve hrách."
      },
      {
        id: 32,
        name: "PODLOZKA",
        description: "Stylový doplněk pod myš, pro hladké přejíždění myší."
      },
      {
        id: 33,
        name: "GAMEPAD",
        description:
          "Rozšiřující doplněk pro váš notebook, či další gamepad pro vaši konzoli."
      },
      {
        id: 34,
        name: "EXTERNAL_DISK",
        description:
          "Přenosné, kompaktní, odeolné externí disky. Pro rychlé načítání a spolehlivost novější SDD a také klasické HDD pro rozšíření místa několik TB."
      }
    ]
  }),
  computed: {
    merch() {
      return this.$store.state.admin.currentMerch;
    },
    categories: {
      get() {
        const categories = this.$store.state.admin.currentMerch.categories;
        if (categories) {
          return map(path(["category", "id"]), categories);
        } else {
          return [];
        }
      },
      set(newValue) {
        this.$store.commit("setCurrentMerchCategories", newValue);
      }
    }
  },
  methods: {
    removePhoto(photo) {
      this.$store.commit("removePhoto", photo);
    },
    saveImages(photos) {
      this.$store.commit("setNewPhoto", photos);
    }
  },
  mounted() {
    this.files = [];
  }
};
</script>

<style scoped></style>
