<template>
  <v-data-table
    :headers="headers"
    :items="merch"
    :options.sync="options"
    :server-items-length="count"
    :loading="loading"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Zboží</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px" @click:outside="close">
          <template v-slot:activator="{ on }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-on="on"
              @click="clearMerch"
              >Nové zboží</v-btn
            >
          </template>
          <v-card>
            <v-card-text>
              <v-container>
                <merch-form />
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">
        mdi-pencil
      </v-icon>
      <v-icon small @click="deleteItem(item)">
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>
  </v-data-table>
</template>

<script>
import MerchForm from "@/components/admin/MerchForm";

export default {
  name: "MerchTable",
  components: { MerchForm },
  data: () => ({
    dialog: false,
    options: {
      page: 1,
      itemsPerPage: 15
    },
    headers: [
      {
        text: "Název",
        value: "name",
        sortable: false
      },
      { text: "Cena", value: "price", sortable: false },
      {
        text: "Pocet na sklade",
        value: "availableInWarehouse",
        sortable: false
      },
      { text: "Actions", value: "actions", sortable: false }
    ]
  }),
  watch: {
    options: {
      handler() {
        this.$store.dispatch("loadAdminMerch", {
          page: this.options.page,
          size: this.options.itemsPerPage
        });
      },
      deep: true
    }
  },
  methods: {
    editItem(item) {
      this.$store.commit("setCurrentMerch", item);
      this.dialog = true;
    },
    initialize() {
      this.$store.dispatch("loadTotalCount");
      this.$store.dispatch("loadAdminMerch", {
        page: this.options.page,
        size: this.options.itemsPerPage
      });
    },
    close() {
      this.$store.commit("clearCurrentMerch");
      this.dialog = false;
    },
    clearMerch() {
      this.$store.commit("clearCurrentMerch");
    },
    deleteItem(item) {
      this.$store.dispatch("loadTotalCount");
      this.$store.dispatch("deleteMerch", item.id).then(() => {
        this.$store.dispatch("loadAdminMerch", {
          page: this.options.page,
          size: this.options.itemsPerPage
        });
      });
    },
    save() {
      this.$store.dispatch("saveCurrentMerch").then(() => {
        this.dialog = false;
        this.$store.commit("clearCurrentMerch");
        this.$store.dispatch("loadAdminMerch", {
          page: this.options.page,
          size: this.options.itemsPerPage
        });
      });
    }
  },
  computed: {
    merch() {
      return this.$store.state.admin.merch;
    },
    loading() {
      return this.$store.state.admin.loading;
    },
    count() {
      return this.$store.state.admin.totalCount;
    }
  },
  mounted() {
    this.$store.dispatch("loadTotalCount");
    this.$store.dispatch("loadAdminMerch", {
      page: this.options.page,
      size: this.options.itemsPerPage
    });
  }
};
</script>

<style scoped></style>
