<template>
  <v-data-table :headers="headers" :items="orders" class="elevation-1">
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Objednávky</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
      </v-toolbar>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "OrdersTable",
  data: () => ({
    headers: [
      {
        text: "Vytvořena",
        value: "order.created",
        sortable: false
      },
      { text: "Platba", value: "order.payment.paymentType", sortable: false },
      {
        text: "Stav",
        value: "order.orderStatus.status",
        sortable: false
      },
      {
        text: "Doprava",
        value: "order.transport.transportType",
        sortable: false
      },
      {
        text: "Prijmeni",
        value: "user.surname",
        sortable: false
      },
      {
        text: "Mesto",
        value: "user.address.city",
        sortable: false
      },
      {
        text: "Ulice",
        value: "user.address.street",
        sortable: false
      },
      { text: "Cena", value: "order.price", sortable: false }
    ]
  }),
  computed: {
    orders() {
      return this.$store.state.admin.orders
        ? this.$store.state.admin.orders
        : [];
    }
  },
  mounted() {
    this.$store.dispatch("loadOrders");
  }
};
</script>

<style scoped></style>
