<template>
  <v-container fluid class="container">
    <merch-table />
    <orders-table />
  </v-container>
</template>

<script>
import MerchTable from "@/components/admin/MerchTable";
import OrdersTable from "@/components/admin/OrdersTable";

export default {
  name: "Admin",
  components: { MerchTable, OrdersTable },
  mounted() {
    if (this.$store.state.user.userInfo) {
      if (this.$store.state.user.userInfo.loginType !== "ADMINISTRATOR") {
        this.$router.replace("/");
      }
    } else {
      this.$router.replace("/");
    }
  }
};
</script>

<style scoped>
.container {
  margin-top: 4%;
}
</style>
