<template>
  <v-container fluid class="container">
    <v-list>
      <v-list-item v-for="item in cartItems" :key="item.id">
        <v-list-item-title>
          <v-row justify="center" align="center">
            <v-col cols="2">
              <div v-if="item && item.photos[0]">
                <v-img
                  height="20px"
                  width="20px"
                  :src="'data:image/png;base64,' + item.photos[0].photo"
                  alt="merchandise"
                />
              </div>
            </v-col>
            <v-col cols="4">
              {{ item.name }}
            </v-col>
            <v-col cols="2">
              <v-text-field
                append-outer-icon="mdi-plus"
                prepend-icon="mdi-minus"
                hint="Počet"
                :value="item.count"
                readonly
                @click:append-outer="addItem(item)"
                @click:prepend="removeOneItem(item)"
                type="number"
              />
            </v-col>
            <v-col cols="1">
              <p>{{ item.price }} kč</p>
            </v-col>
            <v-col cols="1" style="font-weight: 700;">
              <p>{{ item.count * item.price }} kč</p>
            </v-col>
            <v-col cols="1">
              <v-btn icon @click="removeItem(item.id)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-list-item-title>
      </v-list-item>
    </v-list>
    <v-row v-if="cartItems.length > 0">
      <v-col cols="11">
        <v-row justify="end">
          <v-btn color="primary" @click="order(cartItems)"
            >Pokračovat v objednávce</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col cols="11">
        <p>Košík je prázdný</p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Cart",
  computed: {
    cartItems() {
      return this.$store.state.cart.items;
    }
  },
  methods: {
    addItem(item) {
      this.$store.commit("addItem", item);
    },
    removeOneItem(item) {
      this.$store.commit("removeOneItem", item);
    },
    removeItem(item) {
      this.$store.commit("removeItem", item);
    },
    order(items) {
      this.$router.push({ name: "order", params: { items } });
    }
  }
};
</script>

<style scoped>
.container {
  margin-top: 4%;
}
</style>
