<template>
  <div class="home">
    <merchandise-grid />
  </div>
</template>

<script>
import MerchandiseGrid from "@/components/MerchandiseGrid";
export default {
  name: "FilteredMerchandise",
  components: { MerchandiseGrid },
  props: ["categories"],
  mounted() {
    this.$store.dispatch("changeFilter", { categories: this.categories });
    this.$store.dispatch("fetchMerchandise");
  },
  watch: {
    categories: function(newVal) {
      this.$store.dispatch("changeFilter", { categories: newVal });
      this.$store.dispatch("fetchMerchandise");
    }
  }
};
</script>
