<template>
  <div class="home">
    <merchandise-grid />
  </div>
</template>

<script>
import MerchandiseGrid from "@/components/MerchandiseGrid";
export default {
  name: "Home",
  components: { MerchandiseGrid },
  mounted() {
    this.$store.commit("clearFilter");
    this.$store.dispatch("fetchMerchandise");
  }
};
</script>
