<template>
  <LoginForm v-if="login" @onSwitchForms="switchForms" />
  <RegisterForm v-else @onSwitchForms="switchForms" />
</template>

<script>
import LoginForm from "../components/login/LoginForm";
import RegisterForm from "../components/login/RegisterForm";
export default {
  name: "Login",
  components: { RegisterForm, LoginForm },
  data: () => ({
    login: true
  }),
  methods: {
    switchForms() {
      this.login = !this.login;
    }
  }
};
</script>

<style scoped></style>
