<template>
  <v-container fluid class="container">
    <v-row align="center">
      <v-col cols="6">
        <v-skeleton-loader :loading="loading" type="card">
          <v-carousel :v-if="item" cycle show-arrows-on-hover>
            <v-carousel-item v-for="(image, i) in photos" :key="i">
              <v-img
                contain
                min-height="200px"
                max-height="500px"
                aspect-ratio="1.7"
                :src="'data:image/png;base64,' + image.photo"
                alt="merchandise"
              />
            </v-carousel-item>
          </v-carousel>
        </v-skeleton-loader>
      </v-col>
      <v-col cols="6">
        <v-skeleton-loader :loading="loading" type="paragraph">
          <v-row align="center">
            <v-col cols="12">
              <p :v-if="item">{{ description }}</p>
            </v-col>
          </v-row>
        </v-skeleton-loader>
        <v-skeleton-loader :loading="loading" type="paragraph">
          <v-row :v-if="item">
            <v-col cols="3" offset="3">
              <p>{{ price }} Kč</p>
            </v-col>
            <v-col cols="6">
              <v-btn small color="primary" @click="addItem(item)"
                >Přidat do košíku
              </v-btn>
            </v-col>
          </v-row>
        </v-skeleton-loader>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Merchandise",
  computed: {
    item() {
      return this.$store.getters.getMerchById(this.$route.params.id);
    },
    loading() {
      return this.$store.state.merchandise.loading;
    },
    photos() {
      return this.$store.getters.getMerchById(this.$route.params.id)
        ? this.$store.getters.getMerchById(this.$route.params.id).photos
        : [];
    },
    description() {
      return this.item ? this.item.description : "";
    },
    price() {
      return this.item ? this.item.price : "";
    }
  },
  mounted() {
    const item = this.$store.getters.getMerchById(this.$route.params.id);
    if (!item) {
      this.$store.dispatch("loadMerch", this.$route.params.id);
    }
  },
  methods: {
    addItem(item) {
      this.$store.commit("addItem", item);
    }
  }
};
</script>

<style scoped>
.container {
  margin-top: 4%;
}
</style>
