<template>
  <v-container fluid class="container">
    <v-row>
      <v-col cols="7" offset="1">
        <order-form :items="order.items" />
      </v-col>
      <v-col cols="4">
        <v-list>
          <v-list-item v-for="item in order.items" :key="item.id">
            <v-list-item-title>
              <v-row justify="center" align="center">
                <v-col cols="2">
                  <div v-if="item && item.photos[0]">
                    <v-img
                      height="20px"
                      width="20px"
                      :src="'data:image/png;base64,' + item.photos[0].photo"
                      alt="merchandise"
                    />
                  </div>
                </v-col>
                <v-col cols="4">
                  {{ item.name }}
                </v-col>
                <v-col cols="1" style="font-weight: 700;">
                  <p>{{ item.count * item.price }} kč</p>
                </v-col>
              </v-row>
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { isEmpty } from "ramda";
import OrderForm from "../components/order/OrderForm";
export default {
  name: "Order",
  components: { OrderForm },
  computed: {
    order() {
      return this.$route.params;
    }
  },
  mounted() {
    if (isEmpty(this.$route.params)) {
      this.$router.replace("/kosik");
    }
    if (this.$store.getters.isLogged()) {
      this.$store.dispatch("loadUserInfo");
    }
  }
};
</script>

<style scoped>
.container {
  margin-top: 4%;
}
</style>
