<template>
  <v-container fluid class="container">
    <h2>Objednávka úspěšně založena</h2>
    <router-link to="/" style="color: black; text-decoration: none">
      <v-btn primary>
        Zpět na hlavní stránku
      </v-btn>
    </router-link>
  </v-container>
</template>

<script>
export default {
  name: "Result"
};
</script>

<style scoped>
.container {
  margin-top: 4%;
}
</style>
