<template>
  <v-container fluid class="container">
    <v-list>
      <v-list-item-group>
        <v-list-item v-for="(order, i) in orders" :key="i">
          <v-list-item-content>
            <v-list-item-title>
              <v-row>
                <v-col cols="4"
                  ><p>{{ order.created }}</p></v-col
                >
                <v-col cols="4" offset="4"
                  ><p>{{ order.price }} Kč</p></v-col
                >
              </v-row>
            </v-list-item-title>
            <v-list-item-subtitle v-if="order.orderStatus !== null">
              {{ order.orderStatus.status }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-container>
</template>

<script>
export default {
  name: "User",
  computed: {
    orders() {
      const userStore = this.$store.state.user;
      if (userStore.userInfo) {
        if (userStore.userInfo.user) {
          return userStore.userInfo.user.orders;
        }
      }
      return [];
    }
  },
  mounted() {
    if (this.$store.getters.isLogged()) {
      this.$store.dispatch("loadUserInfo");
    } else {
      this.$router.replace("/");
    }
  },
  methods: {
    price(order) {
      order;
    }
  }
};
</script>

<style scoped></style>
