<template>
  <div class="appBar">
    <v-app-bar>
      <v-app-bar-nav-icon
        @click="openDrawer"
        class="hidden-md-and-up"
      ></v-app-bar-nav-icon>

      <v-toolbar-title style="font-size: 200%">
        <router-link to="/" style="color: black; text-decoration: none">{{
          title
        }}</router-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <v-btn icon @click="search = !search">
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-text-field
        v-if="(search = true)"
        clearable
        single-line
        hide-details
        label="Search"
      ></v-text-field>

      <v-menu
        v-model="cartOpen"
        open-on-hover
        close-on-content-click
        offset-y
        v-if="itemCount > 0"
      >
        <template v-slot:activator="{ on }">
          <v-badge
            color="green"
            :content="itemCount"
            :value="itemCount"
            overlap
            bottom
            offset-x="20"
            offset-y="20"
          >
            <v-btn icon v-on="on" style="color: black">
              <router-link
                to="/kosik"
                style="color: black; text-decoration: none"
              >
                <v-icon>mdi-cart</v-icon>
              </router-link>
            </v-btn>
          </v-badge>
        </template>
        <v-list>
          <v-list-item v-for="(item, index) in cartItems" :key="index">
            <v-list-item-title>
              <v-row>
                <v-col cols="2">
                  <div v-if="item && item.photos[0]">
                    <v-img
                      height="20px"
                      width="20px"
                      :src="'data:image/png;base64,' + item.photos[0].photo"
                      alt="merchandise"
                    />
                  </div>
                </v-col>
                <v-col cols="6" style="font-size: 10px">
                  {{ item.name }}
                </v-col>
                <v-btn icon @click="removeItem(item.id)">
                  <v-icon size="12">mdi-delete</v-icon>
                </v-btn>
              </v-row>
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-menu
        open-on-hover
        close-on-content-click
        offset-y
        v-model="accountMenu"
      >
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on" style="color: black">
            <router-link
              :to="logged ? '/ucet' : '/login'"
              style="color: black; text-decoration: none"
            >
              <v-icon>mdi-account</v-icon>
            </router-link>
          </v-btn>
        </template>
        <v-list v-if="logged">
          <v-list-item-group>
            <v-list-item>
              <v-list-item-title>
                <v-list-item-content>
                  <v-list-item-title @click="loggout">
                    Odhlasit se
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item-title>
            </v-list-item>
            <v-list-item v-if="isAdmin">
              <v-list-item-title>
                <v-list-item-content>
                  <v-list-item-title @click="toAdmin">
                    Administrace
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>
    </v-app-bar>
  </div>
</template>

<script>
import { length } from "ramda";

export default {
  name: "AppBar",
  data: () => ({
    search: false,
    cartOpen: false,
    accountMenu: false
  }),
  setup(props, ctx) {
    return { openDrawer: () => ctx.root.$store.commit("setDrawer", true) };
  },
  computed: {
    title() {
      return this.$store.state.ui.barTitle;
    },
    itemCount() {
      return length(this.$store.state.cart.items);
    },
    cartItems() {
      return this.$store.state.cart.items;
    },
    logged() {
      return this.$store.getters.isLogged();
    },
    isAdmin() {
      return this.$store.getters.isAdmin;
    }
  },
  methods: {
    removeItem(item) {
      this.$store.commit("removeItem", item);
    },
    loggout() {
      this.$store.dispatch("logout");
    },
    toAdmin() {
      this.$router.push("/admin");
    }
  },
  mounted() {
    this.$store.dispatch("loadUserInfo");
  }
};
</script>

<style scoped lang="css">
.appBar {
  position: fixed;
  z-index: 1;
  width: 100%;
}
</style>
