<template>
  <v-navigation-drawer
    v-resize="onResize"
    app
    v-model="drawer"
    :permanent="$vuetify.breakpoint.mdAndUp"
    hide-overlay
    dark
    class="pt-5"
    v-bind:style="{ marginTop: margin - offsetTop + 'px' }"
  >
    <side-menu />
  </v-navigation-drawer>
</template>

<script>
import SideMenu from "@/components/SideMenu";

export default {
  name: "AppDrawer",
  components: { SideMenu },
  data: () => ({
    offsetTop: 0,
    margin: 64
  }),
  computed: {
    drawer: {
      get() {
        return this.$store.state.ui?.drawer;
      },
      set(newValue) {
        this.$store.commit("setDrawer", newValue);
      }
    }
  },
  methods: {
    onResize() {
      this.margin = this.$vuetify.breakpoint.mdAndUp ? 64 : 56;
    },
    onScroll(e) {
      const offset =
        e.target.scrollingElement.scrollTop >= this.margin
          ? this.margin
          : e.target.scrollingElement.scrollTop;
      this.offsetTop = this.margin - offset;
    }
  }
};
</script>

<style scoped lang="scss">
@import "~vuetify/src/styles/styles.sass";

.app-bar {
  margin-top: 64px;
  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    margin-top: 56px;
  }
}
</style>
