<template>
  <v-container fluid class="container">
    <v-row>
      <v-col cols="12">
        <v-row
          v-if="
            (!isListEmpty && loading) ||
              (isListEmpty && loading) ||
              (!isListEmpty && !loading)
          "
        >
          <v-col
            cols="4"
            v-for="(merch, i) in merchandiseList"
            v-bind:key="merch.id + '-i' + i"
          >
            <v-skeleton-loader
              :loading="loading"
              type="image, article, actions"
              elevation="5"
            >
              <v-card>
                <router-link
                  :to="'/zbozi/' + merch.id"
                  style="color: black; text-decoration: none"
                >
                  <v-img
                    height="200px"
                    contain
                    :src="
                      merch != null && merch.photos && merch.photos[0] != null
                        ? 'data:image/png;base64,' + merch.photos[0].photo
                        : ''
                    "
                    alt="merchandise"
                  >
                  </v-img>
                  <v-card-title>{{ merch.name }}</v-card-title>
                </router-link>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    block
                    color="secondary"
                    dark
                    elevation="12"
                    @click="addItem(merch)"
                    >Přidat do košíku</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-skeleton-loader>
          </v-col>
        </v-row>
        <v-row v-else>
          <p>Nic jsme nanašli</p>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { isEmpty } from "ramda";

export default {
  computed: {
    merchandiseList() {
      return this.$store.state.merchandise.items;
    },
    isListEmpty() {
      return isEmpty(this.$store.state.merchandise.items);
    },
    loading() {
      return this.$store.state.merchandise.loading;
    }
  },
  methods: {
    addItem(item) {
      this.$store.commit("addItem", item);
    }
  }
};
</script>

<style scoped lang="css">
.container {
  margin-top: 4%;
}
</style>
