<template>
  <div class="slideMenu">
    <v-expansion-panels multiple hover accordion>
      <v-expansion-panel>
        <v-expansion-panel-header>Kategorie</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-list shaped nav>
            <v-list-item
              v-for="category in categories"
              :key="category.text"
              inactive
            >
              <div
                v-if="
                  category.subcategories &&
                    Array.isArray(category.subcategories)
                "
              >
                <v-expansion-panel>
                  <v-expansion-panel-header
                    >PC příslušenství
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-list shaped nav>
                      <v-list-item
                        v-for="subcategory in category.subcategories"
                        :key="subcategory.text"
                        inactive
                      >
                        <li>{{ subcategory.text }}</li>
                      </v-list-item>
                    </v-list>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </div>
              <div v-else>
                <router-link
                  :to="category.path"
                  style="text-decoration: none; color: white"
                >
                  <li class="polozka">{{ category.text }}</li>
                </router-link>
              </div>
            </v-list-item>
          </v-list>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Filtr</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-range-slider
            thumb-label
            thumb-color="red"
            color="red"
            :min="0"
            :max="50000"
            label="Cena"
            append-icon="currency-usd"
            v-model="price"
          />
        </v-expansion-panel-content>
        <v-expansion-panel-content>
          <v-btn small color="primary" @click="filter">Filtrovat</v-btn>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: "SideMenu",
  data: () => ({
    categories: [
      { text: "Kamery", path: "/camera" },
      { text: "Notebooky", path: "/notebooky" },
      { text: "Tablety", path: "/tablety" },
      { text: "Mobily", path: "" },
      { text: "Televize", path: "" },
      {
        text: "PC příslušentsví",
        path: "",
        subcategories: [
          { text: "Myš" },
          { text: "Sluchátka" },
          { text: "Klávesnice" },
          { text: "Podložka pod myš" },
          { text: "Gamepady" },
          { text: "Externí disky" }
        ]
      }, // Udělal bych další podseznam
      { text: "Monitory", path: "" },
      { text: "Reproduktory", path: "" },
      { text: "Počítačové sestavy", path: "" },
      { text: "Konzole", path: "" },
      { text: "Routery", path: "" }
    ],
    price: [0, 0]
  }),
  methods: {
    filter() {
      this.$store.dispatch("fetchMerchandise");
    }
  },
  watch: {
    price(newValue) {
      this.$store.dispatch("changeFilter", {
        priceMin: newValue[0],
        priceMax: newValue[1]
      });
    }
  }
};
</script>

<style scoped>
.slideMenu {
  margin: 3%;
}
</style>
