<template>
  <div>
    <!--  PŘIHLAŠOVACÍ FORMULÁŘ  -->
    <form class="formLogin" ref="formLogin" @submit="login">
      <p>{{ error }}</p>
      <v-text-field
        v-model="loginName"
        label="Uživatelské jméno"
      ></v-text-field>
      <v-text-field
        v-model="password"
        label="Heslo"
        type="password"
      ></v-text-field>

      <v-btn class="mr-4" @click="login" color="success">přihlásit se</v-btn>
      <v-btn @click="clear" color="warning">clear</v-btn>
      <br />
      <br />

      <v-btn @click="switchForms" color="secondary" style="height: 50px"
        >Nemáš účet? <br />
        Registruj se
      </v-btn>
    </form>
  </div>
</template>

<script lang="js">

export default {
    data: () => ({
        loginName: '',
        password: '',
        name: '',
        surname: '',
        email: '',
        tel: '',
        street: '',
        cp: '',
        city: '',
        psc: '',
    }),
  computed: {
    error() {
      return this.$store.state.user.userError;
    }
  },
    methods: {
      clear() {
        this.$refs.formLogin.reset();
        this.loginName = '';
        this.password = '';
      },
      login() {
        this.$store.dispatch("login", {username: this.loginName, password: this.password}).then((value) => {
          this.$router.replace('/');
        })
      },
      switchForms() {
        this.$emit("onSwitchForms");
      },
    },
}
</script>

<style lang="css">
.formLogin {
  margin-top: 10%;
  text-align: center;
  margin-left: 25%;
  width: 50%;
}

.formRegister {
  margin-top: 8%;
  text-align: center;
  margin-left: 25%;
  width: 50%;
}

.block {
  padding: 20px;
  font-size: 150%;
  margin-bottom: 5%;
}
</style>
