<template>
  <form class="formRegister" ref="formRegister">
    <p>{{ error }}</p>
    <v-card class="block" style="background-color: #E1E1E1" elevation="5">
      Kontaktní údaje
    </v-card>
    <v-card-text>
      <v-text-field v-model="name" label="Jméno"></v-text-field>
      <v-text-field v-model="surname" label="Přijmení"></v-text-field>
      <v-text-field v-model="email" label="E-mail"></v-text-field>
      <v-text-field v-model="tel" label="Telefon"></v-text-field>
    </v-card-text>

    <v-card class="block" style="background-color: #E1E1E1" elevation="5"
      >Registrační údaje
    </v-card>
    <v-text-field v-model="loginName" label="Uživatelské jméno"></v-text-field>
    <v-text-field v-model="password" label="Heslo"></v-text-field>

    <v-card class="block" style="background-color: #E1E1E1" elevation="5"
      >Fakturační údaje
    </v-card>
    <v-text-field v-model="street" label="Ulice"></v-text-field>
    <v-text-field v-model="cp" label="Číslo popisné"></v-text-field>
    <v-text-field v-model="city" label="Město"></v-text-field>
    <v-text-field v-model="psc" label="PSČ"></v-text-field>

    <v-btn class="mr-4" @click="submit" color="success" style="margin-top: 3%"
      >Registrovat se
    </v-btn>
    <v-btn @click="clear" color="warning" style="margin-top: 3%">clear</v-btn>
    <br />
    <br />

    <v-btn
      @click="switchForms"
      color="secondary"
      style="height: 50px; margin-bottom: 7%"
      >Přihlásit se
    </v-btn>
  </form>
</template>

<script>
export default {
  data: () => ({
    loginName: "",
    password: "",
    name: "",
    surname: "",
    email: "",
    tel: "",
    street: "",
    cp: "",
    city: "",
    psc: ""
  }),
  computed: {
    error() {
      return this.$store.state.user.userError;
    }
  },
  methods: {
    clear() {
      this.$refs.formRegister.reset();
      this.loginName = "";
      this.password = "";
      this.name = "";
      this.surname = "";
      this.email = "";
      this.tel = "";
      this.street = "";
      this.cp = "";
      this.city = "";
      this.psc = "";
    },
    switchForms() {
      this.$emit("onSwitchForms");
    },
    submit() {
      this.$store
        .dispatch("register", {
          username: this.loginName,
          password: this.password,
          user: {
            name: this.name,
            surname: this.surname,
            email: this.email,
            phone: this.tel,
            address: {
              city: this.city,
              street: this.street,
              houseNumber: this.cp,
              postCode: this.psc
            }
          }
        })
        .then(() => this.$router.replace("/"));
    }
  }
};
</script>

<style scoped></style>
