<template>
  <div id="app">
    <v-app>
      <app-bar />
      <app-drawer />
      <v-content id="scroll-target">
        <router-view />
      </v-content>
    </v-app>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import AppDrawer from "@/components/AppDrawer.vue";
import AppBar from "@/components/AppBar.vue";

export default Vue.extend({
  name: "App",
  components: { AppBar, AppDrawer },
  mounted(): void {
    this.$store.dispatch("loadCartItems");
  }
});
</script>
